.table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}     
td, th {
border: 1px solid black;
text-align: left;
padding: 8px;
} 
.uptade{
    border: none;
    border-radius: 5%;
    width: 10%;
    height: 5vh;
    background-color: black;
    color: whitesmoke;
    margin-left: 20px;
    font-family: fantasy;
    }


